<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NoteMaster Application - Notes</title>
  <link rel="stylesheet" href="/static/css/notes.css" />

</head>

<body>
  <div class="notes">
    <!-- left bar starts -->
    <div class="left-bar">
      <div class="upper-part">

      </div>

      <!-- left content starts -->
      <div>
        <nav>
          <a href="#" class="logo">Logo</a>
          <div class="nav_items">
            <a href="#" class="active">Notes</a>
            <a href="#">Calendar</a>
            <a href="#">Account</a>
            <a href="#">Reminders</a>
          </div>
        </nav>
      </div>
      <!-- left content ends -->
    </div>
    <!-- left bar ends -->

    <!-- page content starts -->
    <div class="page-content">
      <div class="header">My Notes</div>

      <!-- content categories starts -->
      <div class="content-categories">
      </div>

      <div class="container">
        <div class="sticky-notes">
          <div class="add-note">+</div>
          <!-- Add more sticky notes here -->
        </div>
      </div>

      <!-- content categories ends -->
    </div>


  </div>
  <!-- page content ends -->

  <!-- right bar starts -->
  <div class="right-bar">
    <div class="top-part">


    </div>

  </div>
  <!-- right bar ends -->
  </div>
  <script type="module" src="../static/js/notes.js"></script>
</body>

</html>